NGREADY/.git
NGREADY/.gitignore
LICENSE
VERSION
README.md
Changelog.md
Makefile
docker-compose.yml
docs
*.bak
*.ok*
*.*~
NGREADY/t/
NGREADY/blib/
NGREADY/archive/*
NGREADY/logs/*
NGREADY/data/*
NGREADY/pmea
NGREADY/tmp/*
**/test
/NGREADY/.build/
/NGREADY/pmea/
