#addr_container {
    width:100%;
}

#div1 {
    float: left; /* Commenting this out results in another weird result*/
    width: 25%;
    padding: 10px;
    display: inline-block;
}

#div2 {
    width:30%;
    padding:10px;
    float: left;
}

#div3 {
    width: 30%;
    padding: 10px;
    float: left;
}

.child-div {
    /*overflow: hidden;*/
}

.leftimg {
    float:left; /* Выравнивание по левому краю */
    margin: 10px 10px 10px 0; /* Отступы вокруг картинки */
}

