.idea
Core/NGREADY/blib
Core/NGREADY/Shared/archive/*
!Core/NGREADY/Shared/archive/.gitkeep
Core/NGREADY/archive/*
!Core/NGREADY/archive/.gitkeep
Core/NGREADY/tmp/*
!Core/NGREADY/tmp/.gitkeep
Core/NGREADY/Shared/configs/*
!Core/NGREADY/Shared/configs/.gitkeep
Core/NGREADY/Shared/data/*
!Core/NGREADY/Shared/data/.gitkeep
Core/NGREADY/Shared/logs/*
!Core/NGREADY/Shared/logs/.gitkeep
Core/NGREADY/t/tmp/
Core/NGREADY/bin/*.pl~
Core/NGREADY/bin/*.pl.ok*
Core/NGREADY/logs/*
!Core/NGREADY/logs/.gitkeep
Web/www/html/assets/*
!Web/www/html/assets/.gitkeep
Web/www/protected/runtime/*
!Web/www/protected/runtime/.gitkeep
Web/www/protected/data/*
!Web/www/protected/data/.gitkeep
Web/www/protected/tmp/*
Web/www/protected/VERSION.php
!/Web/www/protected/tmp/.gitkeep
/Web/www/custom_config/main.php

node_modules


/docker-compose.yml
/env.list



*.iml
/Web/Web.iml
/cmake_install.cmake
/CMakeCache.txt
/CMakeLists-cpp.txt
/Core/NGREADY/.build/
/Core/NGREADY/NGREADY-*.tar.gz
/Core/NGREADY/NGREADY-*/
/CMakeFiles/
/build
/dist

Core/NGREADY/dist.ini
/settings.cmake
build
